<!DOCTYPE html>
<html lang="en">

 
{% include 'header.html' %}
<section id="snippet-3" class="wrapper bg-light wrapper-border">
      <div class="container pt-5 pb-13">

        <h2 class="display-4 mb-3 text-center">Buscaminas Cheems</h2>
        <p class="lead text-center mb-10 px-md-16 px-lg-0">lista de ganadores.</p>

<table class="table table-primary table-hover">
  <thead>
<tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Frase </th>
    <th>Intentos</th>
    <th>Fecha y hora</th>
    <th>Herramienta</th>


</tr>   
</thead>
<tbody>
{% for w in winners %}
<tr>
    <td>{{ w.name }}</td>
    <td>{{ w.email }}</td>
    <td>{{ w.phrase }}</td>
    <td>{{ w.intentos }}</td>
    <td>{{ w.fecha_hora }}</td>
    <td>
         <a href="/winners/delete/{{ w.id }}" 
            class="btn btn-danger btn-sm"
            onclick="return confirm('¿Eliminar este registro?');">
                                Eliminar
            </a>
                            </button>
                    </td>

</tr>
{% else %}
<tr>
    <td colspan="6">No hay ganadores aún.</td>
</tr>
{% endfor %}
</table>
<div class="text-center mt-5">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-5">
                REGRESAR A BUSCAMINAS CHEEMS
            </a>
        </div>
{% include 'footer.html' %}